[settings]
profile = black
known_django = django
known_first_party = api, reviews, users
src_paths = api_yamdb
multi_line_output = 3
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
default_section = THIRDPARTY