[settings]
profile = black
known_django = django
known_third_party = rest_framework
known_first_party = reviews,users
src_paths = api,api_yamdb,reviews,users
line_length = 88
multi_line_output = 3
sections = FUTURE,STDLIB,DJANGO,THIRDPARTY,FIRSTPARTY,LOCALFOLDER
default_section = THIRDPARTY