[tool.isort]
profile = "black"  # стиль сортировки как у Black
src_paths = ["api", "api_yamdb", "reviews", "users"]  # папки с твоими приложениями
line_length = 88  # как в Black
multi_line_output = 3  # красивый перенос импортов